.movieRow{
    margin-bottom: 30px;
}

.movieRow h2{
    margin: 0px 0px 0px 30px;
}

.movieRow--listarea{
    /* tudo que passar da tela na horizontal vai ser cortado */
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRow--list{
    transition: all ease 0.5s;
}

.movieRow--item{
    /* faz o item ficar um do lado do outro */
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movieRow--item img{
    width: 100%;
    /* aqui a imagem vai ter 100% do tamanho dela, mas o css é diminiuido para ficar com 90% do tamanho */
    transform: scale(0.9); 
    transition: all ease 0.2s;
}

.movieRow--item img:hover{
    /* ao passar o mouse o css deixa a imagem em 100% do tamanho dela, ou seja, 150px */
    transform: scale(1);
}

/* ciando botoes laterair  back and next serie */
.movieRow--left, 
.movieRow--right{
    /* deixa o botao flutuando */
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.movieRow--left{
    left: 0;
}

.movieRow--right{
    right: 0;
}

/* efeito de aparecer quando coloca o mouse na list area */
.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right{
    opacity: 1;
}

@media (max-width: 760px){
    .movieRow--left,
    .movieRow--right{
        opacity: 1;
    }
}